.outline {
  outline: red solid 1px;
}

header {

  h1 {
    font-size: 1.125rem;
    margin: 0.5% 0 0.5% 1%;
    font-weight: bold;
  }

  span#city {
    color: #808080;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.row {
  max-width: 1480px;
}

.hero {
  overflow: hidden;
  position: relative;

  img {
    max-width: 3000px;
    margin-bottom: 0;
  }
}

.hero-text {
  position: absolute;
  top: 400px;
  width: 100%;

  h1 {
    color: #fff;
    font-size: 4.5rem;
    font-weight: 300;
  }

  h3 {
    color: #fff;
    font-weight: 400;

  }
}

.shade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.2;
}

.about-me {
  padding: 3% 0;

  .row {
    padding: 2% 0;
  }

  h6 {
    font-weight: 600;
    font-size: 1.2rem;
    word-spacing: 5px;
    letter-spacing: 3px;
    opacity: 0.8;
  }

  h3 {
    font-weight: 400;
  }

  p {
    max-width: 500px;
    margin: auto;
    font-size: 1.1rem;
    color: #939393;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1.6;
  }
}

.svg-container {
  path, polygon, svg {
    fill: #2196F3;
  }

  svg {
    max-width: 34px;
  }
}

section {

  .best-buy {
    background-color: #F7F7F7;
    padding: 6% 0;
  }

  .firefighters {
    background-color: #fff;
    padding: 6% 0;
  }

  .job-market {
    background-color: #E7E7E9;
    padding: 6% 0;
  }
}


.portfolio {

  h5 {
    font-size: 1.2rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 6.5%;
    font-weight: 600;
  }

  .portfolio-image {
    border: #b0b0b0 solid 1px;
  }

  .row {
    max-width: 1120px;
  }

}

footer {
 // padding: 3% 0;
  background-color: #121317;
  height: 150px;

  p {
    //color: #939393;
    line-height: 150px;
    color: #fff;
    word-spacing: 1px;
    opacity: 0.6;
    font-size: 0.9em;
  }

  a {
    color: #2196F3;
  }
}

